/build/
/work/
/Packager/
/tools/archive/
/tools/utmt/
/materials/images/
/materials/text/translation_catalog.json

*.win
*.exe
*.dll
*.pdb
*.tmp
*.backup
*.zip
!/dist/
!/dist/*.zip

Thumbs.db
.DS_Store
